body {
	background-image: url("../app/styles/pictures/writing1.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
@media screen and (max-width: 991px) {
	body{
		background-image: url("../app/styles/pictures/lvlaptop.jpeg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;	
		background-position: center;
	}
}