<div ui-view></div>

<style>
	body {
		background-image: url("../app/styles/pictures/laptop2.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}
	@media screen and (max-width: 991px) {
		body{
			background-image: url("../app/styles/pictures/lvlaptop.jpeg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;	
		}
	}
	.angular-google-map-container { height: 300px; }
</style>

<div class="container" id="ueventsContainer">
	<div class="panel-group">
		<div class="panel panel-default animated fadeIn" ng-repeat="event in vm.events" id="ueventsPanel">
			<div class="panel-body">
				<div class="form-group">
					<!-- panel of upcoming events for people to see -->
					<section>
					<div class="col-md-5">
						<h3 id="eventTitle">{{event.eventname}}</h3>
						<ul id="uevents_box">
							<li><p><b>Company Name:</b> {{event.companyname}}</p></li>
							<li><p><b>Address:</b> {{event.address}}</p></li>
							<li><p><b>Date:</b> {{event.datetime | date : "medium"}}</p></li>
							<li><p><b>Description:</b> {{event.description}}</p></li>
						</ul>
						<!-- edit profile button -->
						<button type="button" class="btn btn-info btn-lg btn-block" ng-click="vm.addToEvent(event._id)" id="mapBtn">Sign Up Now!</button>
					</section>
						<!-- google map view -->
					<aside>
						<div class="col-md-6 col-md-offset-2" id="googlemap">
							<ui-gmap-google-map center='vm.map.center' 
												zoom='vm.map.zoom'
												dragging='false'
												>
								<ui-gmap-marker coords='{ latitude: event.lat, longitude: event.long}' idKey='event._id' options='{clickable: ture}'>
									<ui-gmap-window 
											show='false'
											isIconVisibleOnClick='true'>
										<p>{{event.eventname}}: {{event.address}}</p>
									</ui-gmap-window>
								</ui-gmap-marker>
							</ui-gmap-google-map>
						</div>
					</aside>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>