<div ui-view></div>

<style>
	body {
		background-color:#282E34;
	}
	/*parallax scrolling*/
	.bgimg-1, .bgimg-2, .bgimg-3 {
		position: relative;
		opacity: 0.7;
		background-attachment: fixed;	
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.bgimg-1 {
		background-image: url("../app/styles/pictures/laptop2.jpg");
		min-height: 400px;
	}
	.bgimg-2 {
		background-image: url("../app/styles/pictures/meeting1.jpg");
		min-height: 400px;
	}
</style>

<div style="position:relative;">
	<div style="background-color:#282E34;text-align:center;padding:50px 80px;">
		<span class="eventive" style="text-align:center;letter-spacing: 10px;">MAP</span>
		<!-- google map view -->	
		<div class="animated fadeIn" id="googlemap">
			<div class="col-md-10 col-md-offset-1">
				<div class="well clearfix">
					<ui-gmap-google-map center='vm.map.center' 
												zoom='vm.map.zoom'
												dragging='false'
												>
						<div ng-repeat="event in vm.events">					
							<ui-gmap-marker coords='{ latitude: event.lat, longitude: event.long}' idKey='event._id' options='{clickable: ture}'>
								<ui-gmap-window 
									show='false'
									isIconVisibleOnClick='true'>
									<a ng-click=goToEvent(event._id)>{{event.eventname}}: {{event.address}}</a>
								</ui-gmap-window>
							</ui-gmap-marker>
						</div>	
					</ui-gmap-google-map>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bgimg-2">
	<div class="caption">
	</div>
</div>

<div style="position:relative;">
	<div style="color:black;background-color:#282E34;text-align:center;padding:50px 80px;">
		<span class="eventive" style="text-align:center;letter-spacing: 10px;">EVENT LIST</span>
	    <div class="container" id="ueventsContainer">
			<div class="container">
				<div class="row row-flex row-flex-wrap animated fadeIn" ng-repeat="event in vm.events">
					<!-- panel of upcoming events for people to see -->
					<div class="col-md-10" id="{{event._id}}">
						<div class="well clearfix">
								<div class="col-md-5 col-md-offset-0">
									<h3 id="eventTitle">{{event.eventname}}</h3>
									<ul id="uevents_box">
										<li><p><b>Company Name:</b> {{event.companyname}}</p></li>
										<li><p><b>Address:</b> {{event.address}}</p></li>
										<li><p><b>Date:</b> {{event.datetime | date : "medium"}}</p></li>
										<li><p><b>Description:</b> {{event.description}}</p></li>
										<li><p><b>Difficulty:</b> {{event.difficulty}}</p></li>
									</ul>
								</div>
								<div class="col-md-5 col-md-offset-2">
									<img src="https://appventful.herokuapp.com/api/files/{{event._id}}/painting" onerror="this.src='https://appventful.herokuapp.com/api/files/5853591c2417be00118bb47e/painting'" id="artThumb" height="350" width="350">
								</div>
							<!-- edit profile button -->
							<div ng-switch="vm.alreadyInEvent(vm.id, event.attendees)" class="col-md-5">
								<button type="button" class="btn btn-info btn-lg btn-block" ng-click="vm.addToEvent(event._id)" id="mapBtn" ng-switch-default >Sign Up Now!</button>
								<button type="button" class="btn btn-info btn-lg btn-block" ng-click="vm.sendUserReminder(event._id, event.eventname, event.address, event.datetime)" id="mapBtn" ng-switch-when="1">Send Reminder</button>
							</div>

						</div>
					</div>
				</div>
			</div> <!--  closes containter -->
		</div> <!-- closes ueventsContainer -->
	</div>
</div>
<div class="bgimg-1">
	<div class="caption">
		<span class="border" style="background-color:transparent;font-weight:bold;font-size:50px;color:#ee61e2;">CREATE A PROFILE TO JOIN</span>
	</div>
</div>