<div ui-view></div>

<style>
	body {
		background-image: url("../app/styles/pictures/laptop1.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}
	@media screen and (max-width: 991px) {
		body{
			background-image: url("../app/styles/pictures/lvlaptop.jpeg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;	
			background-position: center;
		}
	}
</style>

<div class="container" id="loginBox">
	<div class="container">
		<div class="row row-flex row-flex-wrap">
			<div class="col-md-6">
				<!-- image upload -->
				<div class="well">
					<form align="center">
						<img id="myImg" src="../app/styles/pictures/Eventive4.png"></img>
						<input type='file' accept="image/*"></input>
					</form>
				</div>
			</div>
			<!-- profile information -->
			<div class="col-md-6">
				<div class="well clearfix">
					<ul id="proInfo">
						<li><p><label class="headings">NAME:</label> {{vm.name}}</p></li>
						<li><p><label class="headings">EMAIL:</label> {{vm.email}}</p></li>
						<li><p><label class="headings">PHONE NUMBER:</label> {{vm.number}}</p></li>
						<!-- edit profile button -->
						<button type="button" class="btn btn-default" style="float: right">Edit</button>
					</ul>
				</div>
			</div>

			<div class="col-md-12">
				<div class="well clearfix">
					<table class="table" id="pevents_table">
						<thead><label class="headings">UPCOMING EVENTS</label></thead>
						<tr>
							<th>NAME</th>
							<th>ADDRESS</th>
							<th>DATE</th>
							<th>UPDATE</th>
							<th>NOTIFICATION</th>
						</tr>
						<!-- upcoming events to be setup in ng-repeat to populte events -->
						<tr ng-repeat="event in vm.events">
							<td>{{event.eventname}}</td>
							<td>{{event.address}}</td>
							<td>{{event.datetime | date:'EEEE, MMMM d, y h:mm a' }}</td>
							<!-- remove upcoming event button -->
							<td><button type="button" class="btn btn-info" id="btn-sm" ng-click="vm.deleteEvent(event._id, vm.token)">Remove</button>
								<button type="button" class="btn btn-info" ng-click="vm.eventName=event.eventname;
													vm.address=event.address;
													vm.date=event.datetime;
													vm.description=event.description;
													vm.eventId=event._id"
													ng-model="edit" id="btn-sm">Edit</button>
							</td>
							<td><button ng-click="vm.sendMessage(event._id, event.eventname, event.eventaddress, event.attendees, vm.token)" class="btn btn-info" id="btn-sm">Send Reminder</button></td>
						</tr>
					</table>
				</div>
			</div> <!-- closes upcoming events box --> 

			<div class="col-md-12">
				<div class="well">
					<div class="form-group">
						<label class="headings">EVENT NAME</label>
						<span><input type="text" placeholder="Enter event name" ng-model="vm.eventName"></input></span>
					</div>
					
					<div class="form-group">
						<label class="headings">ADDRESS</label>
						<input type="text" placeholder="Add an address" ng-model="vm.address">
					</div>

					<div class="form-group">
						<label class="headings">DATE AND TIME</label>
						<datetimepicker data-ng-model="vm.date" class="col-md-6" id="date"></datetimepicker>
						<p>Selected Date: {{ vm.date | date:'EEEE, MMMM d, y h:mm a' }}</p>
						<label class="headings">DETAILS</label>
						<input type="text" placeholder="Add a description for the event" ng-model="vm.description">
					</div>

					<div>
						<button ng-click="vm.postNewEvent(vm.eventName, vm.name, vm.id, vm.date, vm.address, vm.token, vm.long, vm.lat, vm.description)" class="btn btn-info" id="eventBtn1">Submit New Event</button>
						<button ng-click="vm.editEvent(vm.eventId, vm.eventName, vm.name, vm.id, vm.date, vm.address, vm.token, vm.long, vm.lat, vm.description)" class="btn btn-info" id="eventBtn2">Edit Event</button>
					</div>
				</div>
			</div>
		</div> <!-- /row -->
	</div> <!-- /container -->
</div>
