<div ui-view></div>

<style>
	body {
		background-image: url("../app/styles/pictures/laptop1.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}
	@media screen and (max-width: 991px) {
		body{
			background-image: url("../app/styles/pictures/lvlaptop.jpeg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			background-position: center;	
		}
	}
</style>

<div class="container" id="loginBox">
	<div class="container">
		<div class="row row-flex row-flex-wrap">
			<div class="col-md-6">
				<div class="well clearfix">
					<h2><label id="profileName">{{vm.name}}'s</label> Page</h2>
						<!-- profile picture image box -->
					<form id="form1">
						<input type='file' accept="image/*" />
						<img id="myImg" src="#" alt="your image" />
					</form>
				</div>
			</div>

			<!-- profile information box -->
			<div class="col-md-6">
				<div class="well clearfix">
					<ul id="prof_info">
						<li><p><label class="headings">NAME:</label> {{vm.name}}</p></li>
						<li><p><label class="headings">EMAIL:</label> {{vm.email}}</p></li>
						<li><p><label class="headings">PHONE NUMBER:</label> {{vm.number}}</p></li>
						<!-- edit profile button -->
						<button type="button" class="btn btn-info" id="proBtn" style="float: right">Edit Information</button>
					</ul>
				</div>
			</div>
					
			<!-- upcoming events list -->
			<div class="col-md-12">
				<div class="well">
					<table class="table" id="pevents_table">
						<thead><label class="headings">UPCOMING EVENTS</label></thead>
						<tr class="border_bottom">
							<th>NAME</th>
							<th>ADDRESS</th>
							<th>DATE</th>
							<th>UPDATE</th>
						</tr>
						<!-- upcoming events to be setup in ng-repeat to populte events -->
						<tr ng-repeat="event in vm.events">
							<td>{{event.eventname}}</td>
							<td>{{event.address}}</td>
							<td>{{event.datetime | date:'EEEE, MMMM d, y h:mm a' }}</td>
							<!-- remove upcoming event button -->
							<td><button type="button" class="btn btn-info" id="btn-sm" style="float: right" ng-click="vm.removeEvent(event._id)">Remove Event</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div> <!-- closes container -->
</div> <!-- closes container loginBox -->
