<div ui-view></div>

<style>
	body {
		background-image: url("../app/styles/pictures/writing1.jpeg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}
	@media screen and (max-width: 991px) {
		body{
			background-image: url("../app/styles/pictures/lvlaptop.jpeg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;	
			background-position: center;
		}
	}
</style>

<div class="container" id="loginContainer">
	<div class="panel-group">
		<div class="panel panel-default animated fadeIn">
			<div class="panel-heading">
				<div class="panel-body">
					<form class="row">
					<section>
						<div class="form-group">
						<div class="col-md-6 col-md-offset-1">
							<!-- Input fields for user name and password -->
							<h2><b>Login</b></h2>
							<input type="input" class="form-control" placeholder="Enter Email" ng-model="vm.email" id="login" required><br>

							<input type="password" class="form-control" placeholder="Enter Password" ng-model="vm.password" id="password" required><br>

							<!-- Login button to go to profile page -->
							<button type="button" class="btn btn-info btn-lg" ng-click="vm.login()" value="reset form" id="loginBtn">Submit</button><br><br>
					</section>
					<aside>
							<div class="col-md-4 col-md-offset-2">
								<!-- Link to register page if not member -->
								<h2 draggable="true"><b>Not a member</b> <a ui-sref="register" id="signUpLink">sign up!</a></h2>
							</div>
					</aside>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
