<div ui-view></div>

<style>
	body {
		background-image: url("../app/styles/pictures/laptop2.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}
	@media screen and (max-width: 991px) {
		body{
			background-image: url("../app/styles/pictures/lvlaptop.jpeg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;	
			background-position: center;
		}
	}
</style>

<div class="container" id="registerBox">
	<div class="panel-group">
		<div class="panel panel-default animated fadeIn">
			<div class="panel-heading">
				<div class="panel-body" id="regPanel">
					<form name="userForm" ng-submit="submitForm()"> 
						<!-- Registration page for new users -->
						<!-- NAME -->
						<label class="headings">Full Name</label>
						<input type="text" class="form-control" placeholder="Enter Full Name" ng-model="vm.name" required><br>

						<!-- PASSWORD -->
						<label class="headings">Password</label>
						<input type="input" class="form-control" placeholder="Enter Password" ng-model="vm.password" required><br>

						<!-- EMAIL -->
						<label class="headings">Email</label>
						<input type="email" class="form-control" placeholder="Enter Email" ng-model="vm.email" id="email" required><br>
						
						<!-- PHONE NUMBER -->
						<label class="headings">Phone Number</label>
						<input type="tel" class="form-control" placeholder="Enter Phone Number" ng-model="vm.number" required><br>
						
						<!--<label class="headings">Gender</label>
						<select ng-model="vm.selectGender" id="" class="form-control" placeholder="Select Your Gender">
							<option value="">Select Your Gender</option>
							<option ng-repeat="gender in vm.gender" value='{{gender}}'>{{gender}}</option>
						</select><br> -->
						<!-- Submit button to go to profile page -->
						<button type="button" class="btn btn-info btn-lg" ng-click="vm.register()" id="regBtn">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>